@media (min-width: 320px) and (max-width: 575px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .navbar-brand img {
    width: 80%;
  }
  .aejifaioe {
    display: none;
  }
  #polio {
    width: 100%;
  }
  .text-part h1 {
    font-size: 25px;
    line-height: 40px;
    width: auto;
  }
  .text-part p {
    font-size: 14px;
    line-height: 25px;
    width: auto;
  }
  /* .aifhiosd {
    font-size: 14px;
    line-height: 25px;
    width: auto;
  } */
  .sfosfosff {
    width: 75%;
    left: 2px;
  }
  .text-part a {
    font-size: 12px;
    line-height: 180%;
    padding: 8px 10px;
    margin-bottom: 70px !important;
    margin-top: 17px;
  }
  .ufgbsaui h4 {
    font-size: 16px;
    line-height: 20px;
    margin-top: -60px;
    color: #ffff;
  }
  #old_pme {
    width: 100%;
  }
  .jefiosjp {
    display: none;
  }
  .kakaka {
    color: white !important;
  }
  .policy {
    width: 100%;
    margin-top: -127px;
  }
  .level {
    display: flex;
    margin-top: -60px;
    margin-right: 16px;
  }
  .policy .leather {
    width: 17%;
    height: 27%;
    margin-top: 28px;
  }
  .aifhiosd {
    font-size: 14px !important;
    margin-left: 255px;
    margin-bottom: 430px !important;
    margin-top: -30px;
  }
  .ksgjksodpjg {
    display: none;
  }
  .pasa img {
    width: 100%;
    margin-top: -70px;
  }
  .lasa h4 {
    font-size: 14px;
    /* margin-top: 204px; */
    margin-top: -60px;
  }
  .lasa h2 {
    font-size: 30px;
    line-height: 45px;
    width: auto;
  }
  .lasa p {
    font-size: 14px;
    width: auto;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  .lasa h5 {
    font-size: 14px;
    font-weight: 400;
    color: #330344;
    line-height: 32px;
  }
  .lasa .momo {
    font-size: 10px;
    width: 20px;
    height: 20px;
    padding: 6px;
    margin-left: 10px;
  }
  .lasa a {
    font-size: 12px;
    padding: 8px 12px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  #new_me {
    width: 100%;
  }
  .text h4 {
    font-size: 15px;
    padding-top: 50px;
  }
  .text h3 {
    font-size: 28px;
    line-height: 40px;
    width: auto;
  }
  .accordion {
    margin-top: 51px;
    margin-bottom: 80px;
  }
  .or-text p {
    font-size: 14px;
    line-height: 24px;
    width: auto;
    margin-top: 20px;
  }
  .flflf {
    padding-top: 25px;
    padding-bottom: 50px;
    gap: 25px;
    margin-left: -30px;
  }
  .moto_Max h4 {
    font-size: 15px;
    width: auto;
    margin-top: 15px;
  }
  .moto_Max p {
    font-size: 14px;
    line-height: 24px;
    width: auto;
    margin-top: 18px;
  }
  .moto_Max {
    padding: 29px;
  }
  .maiceo_Max h4 {
    font-size: 15px;
    line-height: 16px;
    width: auto;
  }
  .maiceo_Max p {
    font-size: 14px;
    line-height: 24px;
    width: auto;
    margin-top: 12px;
  }
  .aoto_Max h4 {
    font-size: 16px;
    line-height: 20px;
    width: auto;
    margin-top: 25px;
  }
  .aoto_Max p {
    font-size: 14px;
    line-height: 24px;
    width: auto;
    margin-top: 15px;
  }
  .poto_Max h4 {
    font-size: 15px;
    line-height: 20px;
    width: auto;
  }
  .poto_Max p {
    font-size: 14px;
    line-height: 26px;
    width: auto;
  }
  #new_version {
    width: 100%;
  }
  .ehjedh h3 {
    font-size: 32px;
    line-height: 50px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 8px;
  }
  .ehjedh p {
    font-size: 12px;
    line-height: 20px;
    width: auto;
    margin-bottom: 20px;
  }
  .ehjedh a {
    font-size: 12px;
    line-height: 180%;
    padding: 8px 12px;
  }
  .dfisjdifj {
    display: block;
    margin-top: 50px;
  }
  .fsfsfsfwrqr h4 {
    font-size: 18px;
    line-height: 25px;
    width: auto;
  }
  .jnugtdsrtuj h4 {
    font-size: 20px;
    line-height: 32px;
    width: auto;
  }
  .aofaoa {
    margin-top: 30px;
    margin-bottom: 90px;
    width: 92%;
  }
  .tumio {
    display: none;
  }
  .worker h5 {
    font-size: 18px;
    padding-top: 50px;
  }
  .worker h3 {
    font-size: 25px;
    line-height: 48px;
  }
  .mutio {
    width: 65%;
  }
  #another {
    width: 100%;
  }
  .helloi-sd img {
    width: 85%;
  }
  .jojio {
    display: block;
  }
  .we {
    width: 178px;
    height: 78px;
    margin-top: -60px;
  }
  .treee {
    margin-top: -60px;
    margin-left: 16px;
  }
  .we h4 {
    font-size: 15px;
    margin-left: 50px;
  }
  .we p {
    font-size: 12px;
    margin-left: 50px;
  }
  .we .try {
    width: 25px;
    height: 2px;
    top: 29px;
    left: 12px;
  }
  .helloi-sd {
    margin-bottom: 30px;
    margin-left: 64px;
  }
  #tomato {
    width: 100%;
  }
  .jomia {
    display: block;
  }
  .geeara {
    display: none;
  }
  .text-23 h2 {
    font-size: 25px;
    line-height: 50px;
    width: auto;
    margin-top: 1384px;
    margin-left: -72px;
  }
  .accordion-item {
    width: 100%;
    margin-left: -75px;
  }
  .accordion-button {
    font-size: 13px;
  }
  #poteto {
    width: 100%;
  }
  .ero {
    width: 45%;
  }
  .rrrr h3 {
    font-size: 27px;
    line-height: 40px;
    width: auto;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .rrrr a {
    font-size: 12px;
    line-height: 180%;
    padding: 8px 12px;
    margin-bottom: 33px;
  }
  .fkfkdk {
    display: block;
  }
  .kkfkfkf {
    bottom: 45px;
    right: 8px;
    width: 100%;
  }
  .amima {
    display: block;
  }
  .shotgun h3 {
    font-size: 30px;
    line-height: 29px;
    width: auto;
  }
  .shotgun p {
    font-size: 10px;
  }
  .gerena {
    margin-top: 20px;
    width: 93%;
    margin-left: 3px;
    padding-bottom: 115px;
  }
  .romioo {
    display: none;
  }
  .adnfioad p {
    display: none;
  }
  .adnfioad h2 {
    display: none;
  }
  .adnfioad {
    position: absolute;
    bottom: 160px;
    right: 335px;
    display: flex;
    background: #52c5b6;
    padding: 10px;
    display: none;
  }
  body {
    background: #000;
  }
  .fsifhsaoi {
    display: none;
  }
  .nav-link {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .djfaf a {
    font-size: 22px;
    line-height: 195%;
    margin-left: 45px;
  }
  .djfaf .moto {
    font-size: 12px;
    padding: 12px 15px;
  }
}
